/* 
Galactic Fighter Engine v1.0
Last Updated: 2017-May-20
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
    background-color: #A3A3A3;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#asteroid
{
    /*
    * Image By glitch:
    * https://openclipart.org/detail/209758/harvestable-resources-rock
    */
    height: 271px;
    position: absolute;
    left: -1000px;
    width: 300px;
    z-index: 3;
}
#game
{
	display: block;
	height: 600px;
	margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
	width: 600px;
}
#enemy-ship
{
    /*
    * Image By jamiely:
    * https://openclipart.org/detail/172793/spaceship-glider
    */
    height: 282;
    position: absolute;
    left: -1000px;
    width: 261;
    z-index: 3;
}
#player-ship,
#player-ship-blue,
#player-ship-green,
#player-ship-yellow
{
    /*
    * Image By valeatory:
    * https://openclipart.org/detail/193617/rocket
    */
	height: 188px;
    position: absolute;
    left: -1000px;
	width: 252px;
    z-index: 3;
}
#power-up-null,
#power-up-speed,
#power-up-shield,
#power-up-rechargeless
{
    /*
    * Image By cibo00:
    * https://openclipart.org/detail/167749/atomic-pill
    */
    height: 300px;
    position: absolute;
    left: -1000px;
    width: 300px;
    z-index: 3;
}
#engine-wrapper
{
    /*
    * Image By FollowingStars:
    * http://followingstars.deviantart.com/art/Simple-starry-background-193403007
    */
	background-image: url("../assets/img_background-grid.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 2;
}