/* 
Galactic Fighter Engine v0.1.1
Last Updated: 2017-June-04
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
    background-color: #A3A3A3;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#asteroid
{
    /*
    * Image By glitch:
    * https://openclipart.org/detail/209758/harvestable-resources-rock
    */
    height: 271px;
    position: absolute;
    left: -1000px;
    width: 300px;
    z-index: 3;
}
#game
{
	display: block;
	height: 600px;
	margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
	width: 600px;
}
/*
* Images By Andrea Acosta Duarte:
* http://www.n-somnium.com/home-sweet-home
*/
#enemy-ship-1a,
#enemy-ship-1b,
#enemy-ship-2a,
#enemy-ship-2b,
#enemy-ship-21a,
#enemy-ship-21b,
#enemy-ship-3a,
#enemy-ship-3b,
#enemy-ship-31a,
#enemy-ship-31b,
#enemy-ship-32a,
#enemy-ship-32b,
#enemy-ship-4a,
#enemy-ship-4b,
#enemy-ship-41a,
#enemy-ship-41b,
#enemy-ship-42a,
#enemy-ship-42b,
#enemy-ship-43a,
#enemy-ship-43b
{
    height: 537;
    left: -10000px;
    position: absolute;
    width: 513;
    z-index: 3;
}
#enemy-ship-2a,
#enemy-ship-2b,
#enemy-ship-21a,
#enemy-ship-21b
{
    height: 509;
    width: 637;
}
#enemy-ship-3a,
#enemy-ship-3b,
#enemy-ship-31a,
#enemy-ship-31b,
#enemy-ship-32a,
#enemy-ship-32b
{
    height: 516;
    width: 510;
}
#enemy-ship-4a,
#enemy-ship-4b,
#enemy-ship-41a,
#enemy-ship-41b,
#enemy-ship-42a,
#enemy-ship-42b,
#enemy-ship-43a,
#enemy-ship-43b
{
    height: 513;
    width: 674;
}
/*
* Images By Andrea Acosta Duarte:
* http://www.n-somnium.com/home-sweet-home
*/
#player-ship,
#player-ship-blue,
#player-ship-display,
#player-ship-green,
#player-ship-yellow
{
	height: 487px;
    position: absolute;
    left: -10000px;
	width: 563px;
    z-index: 3;
}
#player-ship-blue
{
    height: 487px;
    width: 563px;
}
#player-ship-green
{
    height: 487px;
    width: 563px;
}
#player-ship-yellow
{
    height: 487px;
    width: 563px;
}
#power-up-null,
#power-up-speed,
#power-up-shield,
#power-up-rechargeless
{
    /*
    * Image By cibo00:
    * https://openclipart.org/detail/167749/atomic-pill
    */
    height: 300px;
    position: absolute;
    left: -1000px;
    width: 300px;
    z-index: 3;
}
#engine-wrapper
{
    /*
    * Image By FollowingStars:
    * http://followingstars.deviantart.com/art/Simple-starry-background-193403007
    */
	background-image: url("../assets/img_background-grid.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 2;
}